* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

div#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
div#root > header,
div#root > footer {
    padding: 1rem;
    text-align: left;
    background-color: rgb(12, 12, 12);
    color: white;
}

/* Color del enlace normal */
div#root > header a:link {
    color: aqua;
}

/* Color del enlace visitado */
div#root > header a:visited {
    color: aqua;
}

/* Color del enlace cuando se pasa el cursor por encima */
div#root > header a:hover {
    color: lightblue;
}

/* Color del enlace cuando está pulsado */
div#root > header a:active {
    color: rgb(172, 172, 253);
}

div#root > main {
    flex-grow: 1;
    padding: 1rem;
}
